* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    background-color: rgb(255, 255, 255);
}

aside {
    width: 5%;
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(40, 89, 203);
}


.lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 3px solid black;
    padding-bottom: 10px;

}

aside img {
    width: 25px;
    height: 25px;
}

.inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#button_user {
    cursor: pointer;
}

header {
    padding-top: 20px;
    gap: 5%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: blueviolet;
}

.superior {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

header img {
    height: 20px;
    width: 20px;
}

.mais {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.icon {
    display: flex;
    gap: 10px;
}

.pesquisa {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(219, 214, 214);
    height: 30px;
    width: 100%;
    justify-content: center;
    border-radius: 20px;
}

.search {
    width: 90%;
}

input {
    outline: none;
    border: none;
    background-color: inherit;
    width: 80%;
}

button {
    border: none;
    text-decoration: none;
    padding: 8px;
    border-radius: 25px;
    gap: 20px;
}

.botoes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}

.contatos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff0000;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #767676 #ffffff;
}

.contato {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-left: 20px;
    cursor: pointer;
    color: white;
}

.contatos img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
}


main {
    width: 65%;
}

.info_contato {
    position: relative;
    display: none;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
    justify-content: center
}

.header_contato {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 30px;
    height: 5vh;
    width: 100%;
}

#lupa {
    cursor: pointer;
}



.conversa_icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.conversa_icons img {
    height: 20px;
    width: 20px;
}

.foto_nome {
    display: flex;
    align-items: center;
    gap: 5px;
}

.foto_nome img {
    height: 37px;
    width: 37px;
    border-radius: 50%;
    border: 1px solid #EE82EE;
}

.conversa {
    height: 84vh;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #767676 #ffffff;
    font-weight: 200;
}


.mensagem_user {
    align-self: flex-end;
    display: flex;
    gap: 2px;
    flex-direction: column;
    max-width: 50%;
    word-wrap: break-word;
    background-color: white;
    color: violet;
    padding: 10px 14px;
    border-radius: 12px 12px 0px 12px;
}

.mensagem_contact {
    align-self: flex-start;
    max-width: 50%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #EE82EE;
    color: #ffffff;
    padding: 10px 14px;
    border-radius: 12px 12px 12px 0;
}

.conversa p {
    font-size: 15px;
}

.conversa span {
    font-size: 12px;
}

.footer {
    height: 10vh;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input-box {
    width: 90%;
    height: 40px;
    background-color: #b38bfa;
    color: white;
    border-radius: 20px;
    padding: 8px 14px;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    border: none;
    color: white;
    font-size: 15px;
    outline: none;
}

.input-box input::placeholder {
    color: white;
    opacity: 1;
}

.send-btn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background-color: #9d70f9;
    color: #EE82EE;
    font-size: 18px;
    cursor: pointer;
}


.user_infos {
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.container_user {
    background-color: #fff;
    border: 2px solid #9d70f9;
    height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.container_user img {
    height: 100px;
    width: 100px;
    border: 2px solid #9d70f9;
    border-radius: 50%;
}

.nomes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nomes h2 {
    font-size: 1.2rem;
}

.nomes p {
    font-size: 1rem;
}


.lista_usuarios {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.card_usuario {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 12px;
    cursor: pointer;
}


.avatar_usuario {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.info_usuario {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.info_usuario span.nome {
    font-weight: 600;
}

.info_usuario span.nick {
    font-size: 12px;
    color: #666;
}
