* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(255, 255, 255);
}

aside {
    display: flex;
    height: 100%;
    width: 90px;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(40, 89, 203);
}


.lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 3px solid black;
    padding-bottom: 10px;

}

aside img {
    width: 25px;
    height: 25px;
}

.inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

header {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
    gap: 20px;
    display: flex;
    width: 20%;
    background-color: blueviolet;

}

.superior {
    width: 100%;
}

header img {
    height: 20px;
    width: 20px;
}

.mais {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.pesquisa {
    display: flex;
    align-items: center;
    background-color: rgb(219, 214, 214);
    height: 30px;
    width: 90%;
    justify-content: space-between;
    border-radius: 20px;
    padding-left: 20px;
}

input {
    outline: none;
    border: none;
    background-color: inherit;
    width: 80%;
}

button {
    text-decoration: none;
    height: 40px;
    width: 60px;
    border-radius: 25px;
    gap: 20px;
}






/* .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */